.file {
    display: flex;
    flex-direction: column;
    align-items: center;
border-radius: 40px;
background: rgba(17, 17, 23, 0.77);
padding-top: 70px;
padding-bottom: 90px;
position: relative;

 &__img {
  width: 181px;
height: 74px;
position: absolute;
top: -35px;
}    

    &__title {
        color: #FFB82F;
font-family: "Inter";
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.64px;
margin-bottom: 40px;
    }

    &__text {
        color: #FFF;
        margin-bottom: 60px;
text-align: center;
font-family: "Inter";
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.52px;
width: 881px;
height: 144px;
    }
}

.fils {
    padding-top: 175px;
    padding-bottom: 110px;
background-image: url(../img/bg-main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

&__line {
    position: absolute;
    top: 845px;
}
}





.downlod {
  background-color: #0E0E1A;
  padding-top: 60px;
  padding-bottom: 70px;


  &__secondstep {
    position: absolute;
    top: -40px;
    width: 184px;
height: 84px;
  }


  &__group {
    background: #151526;
    padding-top: 45px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }


  &__title {
    color: #FFB82F;
font-family: "Inter";
font-size: 26px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.52px;
margin-bottom: 33px;
  }


  &__secondgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111117;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 45px;
    padding-top: 25px;
  }


  &__intitle {
    color: #FFB82F;
font-family: "Inter";
font-size: 26px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.52px;
margin-bottom: 45px;
  }

  &__span {
    color: #FFF;
font-family: "Inter";
font-size: 26px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.52px;
  }


  &__text {
    color: #a1a1a1;
font-family: "Inter";
font-size: 15px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
width: 567px;
height: 43px;
text-align: center;
margin-bottom: 45px;
  }

    &__text2 {
    color: #a1a1a1;
font-family: "Inter";
font-size: 15px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
text-align: center;
margin-bottom: 28px;
  }
  
    &__text3 {
    color: #a1a1a1;
font-family: "Inter";
font-size: 15px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
text-align: center;
margin-bottom: 35px;
  }

  &__text4 {
    color: #a1a1a1;
font-family: "Inter";
font-size: 15px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
text-align: center;
margin-bottom: 28px;
  }

  &__posinside {
    margin-bottom: 30px;
    display: flex;
    gap: 25px;
  }


  &__textgold {
    color: #FFB82F;
font-family: "Inter";
font-size: 15px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
margin-bottom: 25px;
  }

  &__nexttitle {
    color: #FFB82F;
font-family: "Inter";
font-size: 26px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.52px;
margin-bottom: 15px;
  }


  &__fourbuttons {
    margin-bottom: 35px;
    display: flex;
    gap: 20px;
  }


  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__doppatch {
    color: #FFF;
font-family: "Inter";
font-size: 23px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.46px;
margin-top: 45px;
margin-bottom: 15px;
  }


  &__linklist {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }


  &__link {
color: #B5B7FF;
text-align: center;
font-family: "Inter";
font-size: 15px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
  }

  
  &__line {
    position: absolute;
    top: 2333px;
  }
}


// ==================================



.synthwave-laser-button {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  background: #469DED; /* Base color */
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #00ffe0,
    0 0 15px #00ffe0,
    0 0 25px #00ffe0;
  box-shadow:
    inset 0 0 15px #00ffe0,
    0 0 20px rgba(0, 255, 224, 0.7);
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
    width: 240px;
height: 55px;
clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
}

.synthwave-laser-button::before,
.synthwave-laser-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 255, 224, 0.6),
    transparent
  );
  z-index: -1;
  filter: blur(5px);
  transform: translateX(-100%);
  animation: laser-glow 2.5s infinite linear;
}

.synthwave-laser-button::after {
  animation-delay: 1.25s;
  background: linear-gradient(
    90deg,
    transparent,
    #469DED(255, 0, 144, 0.6),
    transparent
  );
}

@keyframes laser-glow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.synthwave-laser-button:hover {
  transform: translateY(-5px);
}

.synthwave-laser-button:active {
  transform: scale(0.95);
  box-shadow:
    inset 0 0 15px #00ffe0,
    0 0 25px #469DED;
}



// =============================== 1



.synthwave-laser-button1 {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background: #B79552; /* Base color */
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #ffffff,
    0 0 15px #00ffe0,
    0 0 25px #00ffe0;
  box-shadow:
    inset 0 0 15px #fbff00,
    0 0 20px rgba(255, 238, 0, 0.7);
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
    width: 240px;
height: 55px;
clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
}

.synthwave-laser-button1::before,
.synthwave-laser-button1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(253, 207, 0, 0.6),
    transparent
  );
  z-index: -1;
  filter: blur(5px);
  transform: translateX(-100%);
  animation: laser-glow 2.5s infinite linear;
}

.synthwave-laser-button1::after {
  animation-delay: 1.25s;
  background: linear-gradient(
    90deg,
    transparent,
    #ed9f46(255, 0, 144, 0.6),
    transparent
  );
}

@keyframes laser-glow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.synthwave-laser-button1:hover {
  transform: translateY(-5px);
}

.synthwave-laser-button1:active {
  transform: scale(0.95);
  box-shadow:
    inset 0 0 15px #FFB846,
    0 0 25px #fbff00;
}


// =============================== 2



.synthwave-laser-button2 {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background: #508B6B; /* Base color */
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #ffffff,
    0 0 15px #00ffe0,
    0 0 25px #00ffe0;
  box-shadow:
    inset 0 0 15px #508B6B,
    0 0 20px rgba(52, 255, 1, 0.7);
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
    width: 240px;
height: 55px;
clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
}

.synthwave-laser-button2::before,
.synthwave-laser-button2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 253, 34, 0.6),
    transparent
  );
  z-index: -1;
  filter: blur(5px);
  transform: translateX(-100%);
  animation: laser-glow 2.5s infinite linear;
}

.synthwave-laser-button2::after {
  animation-delay: 1.25s;
  background: linear-gradient(
    90deg,
    transparent,
    #ed9f46(255, 0, 144, 0.6),
    transparent
  );
}

@keyframes laser-glow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.synthwave-laser-button2:hover {
  transform: translateY(-5px);
}

.synthwave-laser-button2:active {
  transform: scale(0.95);
  box-shadow:
    inset 0 0 15px #FFB846,
    0 0 25px #56991f;
}


// =============================== 3



.synthwave-laser-button3 {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background: #5C94C9; /* Base color */
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #00ffe0,
    0 0 15px #00ffe0,
    0 0 25px #00ffe0;
  box-shadow:
    inset 0 0 15px #109283,
    0 0 20px rgba(0, 255, 224, 0.7);
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
    width: 240px;
height: 55px;
clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
margin-bottom: 60px;
}

.synthwave-laser-button3::before,
.synthwave-laser-button3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 255, 224, 0.6),
    transparent
  );
  z-index: -1;
  filter: blur(5px);
  transform: translateX(-100%);
  animation: laser-glow 2.5s infinite linear;
}

.synthwave-laser-button3::after {
  animation-delay: 1.25s;
  background: linear-gradient(
    90deg,
    transparent,
    #469DED(255, 0, 144, 0.6),
    transparent
  );
}

@keyframes laser-glow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.synthwave-laser-button3:hover {
  transform: translateY(-5px);
}

.synthwave-laser-button3:active {
  transform: scale(0.95);
  box-shadow:
    inset 0 0 15px #00ffe0,
    0 0 25px #5C94C9;
}


// =============================== 4


.synthwave-laser-button4 {
  position: relative;
  font-size: 14.5px;
  text-transform: uppercase;
  color: #fff;
  background: #797979; /* Base color */
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #00ffe0,
    0 0 15px #00ffe0,
    0 0 25px #00ffe0;
  box-shadow:
    inset 0 0 15px #109283,
    0 0 20px rgba(0, 255, 224, 0.7);
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
    width: 240px;
height: 55px;
clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
}

.synthwave-laser-button4::before,
.synthwave-laser-button4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 255, 224, 0.6),
    transparent
  );
  z-index: -1;
  filter: blur(5px);
  transform: translateX(-100%);
  animation: laser-glow 2.5s infinite linear;
}

.synthwave-laser-button4::after {
  animation-delay: 1.25s;
  background: linear-gradient(
    90deg,
    transparent,
    #469DED(255, 0, 144, 0.6),
    transparent
  );
}

@keyframes laser-glow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.synthwave-laser-button4:hover {
  transform: translateY(-5px);
}

.synthwave-laser-button4:active {
  transform: scale(0.95);
  box-shadow:
    inset 0 0 15px #00ffe0,
    0 0 25px #5C94C9;
}


// =============================== 5


.synthwave-laser-button5 {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background: #508B6B; /* Base color */
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #ffffff,
    0 0 15px #00ffe0,
    0 0 25px #00ffe0;
  box-shadow:
    inset 0 0 15px #508B6B,
    0 0 20px rgba(145, 255, 1, 0.7);
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
    width: 240px;
height: 55px;
clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
}

.synthwave-laser-button5::before,
.synthwave-laser-button5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(60, 255, 0, 0.6),
    transparent
  );
  z-index: -1;
  filter: blur(5px);
  transform: translateX(-100%);
  animation: laser-glow 2.5s infinite linear;
}

.synthwave-laser-button5::after {
  animation-delay: 1.25s;
  background: linear-gradient(
    90deg,
    transparent,
    #ed9f46(255, 0, 144, 0.6),
    transparent
  );
}

@keyframes laser-glow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.synthwave-laser-button5:hover {
  transform: translateY(-5px);
}

.synthwave-laser-button5:active {
  transform: scale(0.95);
  box-shadow:
    inset 0 0 15px #FFB846,
    0 0 25px #56991f;
}