.footer {
    background: #0E0E1A;
    padding-top: 70px;
    padding-bottom: 50px;

    &__maingroup {
        display: flex;
        gap: 40px;
        flex-direction: column;

         @media screen and (min-width: 784px) {
    flex-direction: row;
  }

      @media screen and (min-width: 1000px) {
        gap: 30px;
  }

          @media screen and (min-width: 1200px) {
justify-content: space-around;
  }
    }


    &__title {
        color: #FFC24C;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
margin-bottom: 30px;
 outline: 0;
  text-align: center;

   @media screen and (min-width: 768px) {
     text-align: start;
  }
    }

    &__text {
        color: #FFC24C;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
width: 100%;
margin-bottom: 30px;
 outline: 0;
 text-align: center;
 
  @media screen and (min-width: 768px) {
     text-align: start;
  }

 @media screen and (min-width: 1000px) {
    width: 655px;
  }
    }


    &__listone {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

         @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
    }
    
    
    &__item {
                color: #FFC24C;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
transition: color 250ms;
 outline: 0;

&:hover {
    color: #d39a28;
}
    }


    &__secondside {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
    align-items: start;
  }
    }

    &__titletwo {
        margin-bottom: 12px;
    }

    &__listtwo {
        display: flex;
        flex-direction: column;
        gap: 4px;
         outline: 0;
        align-items: center;

          @media screen and (min-width: 768px) {
            gap: 11px;
            align-items: start;
  }
    }

    &__secondlast {
        display: flex;
        flex-direction: column;
        align-items: center;

                @media screen and (min-width: 768px) {
    align-items: start;
  }
    }


    &__titletwo {
        color: #FFC24C;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
 outline: 0;
    }

    &__itemsecond {
        color: #FFF;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
transition: color 250ms, text-shadow 300ms;
 outline: 0;

&:hover,
:focus {
    color: #be974e;
          text-shadow:
    0 3px 25px #1c6bff;
}
    }
}