.footer {
    background: #0E0E1A;
    padding-top: 70px;
    padding-bottom: 50px;

    &__maingroup {
        display: flex;
        justify-content: space-around;
    }


    &__title {
        color: #FFC24C;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
margin-bottom: 30px;
 outline: 0;
    }

    &__text {
        color: #FFC24C;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
width: 655px;
margin-bottom: 30px;
 outline: 0;
    }


    &__listone {
        display: flex;
        justify-content: space-between;
    }


    
    &__item {
                color: #FFC24C;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
transition: color 250ms;
 outline: 0;

&:hover {
    color: #d39a28;
}
    }

    &__titletwo {
        margin-bottom: 12px;
    }

    &__listtwo {
        display: flex;
        flex-direction: column;
        gap: 11px;
         outline: 0;
    }


    &__titletwo {
        color: #FFC24C;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
 outline: 0;
    }

    &__itemsecond {
        color: #FFF;
font-family: "Inter";
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
transition: color 250ms, text-shadow 300ms;
 outline: 0;

&:hover,
:focus {
    color: #be974e;
          text-shadow:
    0 3px 25px #1c6bff;
}
    }
}