.start {
    padding-top: 175px;
    padding-bottom: 100px;
background-image: url(../img/bg-mobile-1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;


    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image:
      url(../img/bg-mobile-2x.png);
  }

  @media (min-width: 768px) {
    background-image:
      url(../img/bg-tablet-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image:
        url(../img/bg-tablet-2.png);
    }
  }

  @media (min-width: 1200px) {
    background-image:
      url(../img/bg-desktop-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image:
        url(../img/bg-desktop-2x.png);
    }
  }


    &__position {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 180px;

             @media screen and (min-width: 768px) {
                margin-bottom: 220px;
  }
    }
    

&__title {
    width: 100%;
    color: #FFB82F;
text-shadow: 0px 0px 50px #000;
font-family: "Noto Sans";
font-size: 20px;
line-height: normal;
letter-spacing: 0.8px;
margin-bottom: 17px;
 text-shadow:
    1px  0   0 #000,
   -1px  0   0 #000,
    0    2px 0 #000,
    0   -2px  0 #000,
    1px  1px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000;

     @media screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
    @media screen and (min-width: 1500px) {
        font-size: 40px;
}
}

&__playbtn {
    border: none;
    background: none;
    text-align: center;
    outline: none;
}

&__playimg2 {
     outline: none;
}

&__playimg {
width: 186px;
height: 51px;
transition: transform 700ms;
outline: none;
border: none;

&:hover,
:focus {
    transform: scale(1.05);
}

     @media screen and (min-width: 768px) {
                width: 250px;
height: 60px;
  }
     @media screen and (min-width: 1200px) {
            width: 270px;
height: 65px;
  }
     @media screen and (min-width: 1500px) {
        width: 300px;
height: 75px;
}
}
}



.bloks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
         @media screen and (min-width: 1200px) {
            flex-direction: row;
  }

  &__position {
        display: flex;
    flex-direction: column;
    
         @media screen and (min-width: 630px) {
            flex-direction: row;
  }
  
  }


    &__strucrut {
        position: relative;
        display: flex;
background: rgba(24, 27, 22, 0.90);
width: 290px;
height: 150px;
justify-content: center;
align-items: center;

         @media screen and (min-width: 480px) {
            width: 320px;
height: 170px;
  }

           @media screen and (min-width: 630px) {
            width: 290px;
height: 150px;
  }
    }




    &__rollimg {
            width: 108px;
height: 108px; 
    }



    &__group {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        
    }
    
    &__title {
        margin-top: 20px;
        color: #F4DB84;
font-family: "Inter";
font-size: 20px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.48px;
    }

    &__descript {
        color: #A5998E;
font-family: "Inter";
font-size: 12px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.28px;
margin-top: 20px;
    }

    &__info {
        color: #FFF;
font-family: "Inter";
font-size: 14px;
line-height: normal;
letter-spacing: 0.28px;
background-color: #008250;
border-radius: 6px;
width: 74px;
height: 26px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 5px;
right: 6px;

    }
}


// radius special ============================

.radius__magic {
                        border-radius: 12px 12px 0px 0px;
                        border: 2px solid #D19722;

             @media screen and (min-width: 630px) {
                    border-radius: 12px 0px 0px 0px;
    border: 2px solid #D19722;
  }
}

.radius__sword {
    border-radius: 0px 0px 0px 0px;
    border-right: 2px solid #D19722;
    border-left: 2px solid #D19722;

                 @media screen and (min-width: 630px) {
    border-radius: 0px 0px 0px 12px;
    border-bottom: 2px solid #D19722;
    border-right: 2px solid #D19722;
    border-left: 2px solid #D19722;
  }
}

.radius__shild {
    border-radius: 0px 0px 12px 12px;
        border-bottom: 2px solid #D19722;
    border-right: 2px solid #D19722;
    border-top: 2px solid #D19722;
    border-left: 2px solid #D19722;

                     @media screen and (min-width: 630px) {
               border-radius: 0px 0px 12px 0px;         
                   border-top: 0px solid #D19722;
    border-left: 0px solid #D19722;   
  }
}

.radius__bow {
    border-radius: 0px 0px 0px 0px;
    border-top: 2px solid #D19722;
    border-right: 2px solid #D19722;
    border-left: 2px solid #D19722;

                         @media screen and (min-width: 630px) {
    border-radius: 0px 12px 0px 0px;
    border-top: 2px solid #D19722;
    border-right: 2px solid #D19722;
    border-bottom: 2px solid #D19722;    
    border-left: 0px solid #D19722;    
  }
}

// ==========================


.blosksecond {
    background-image: url(../img/secondblock-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    margin-top: 20px;
width: 350px;
height: 155px;
display: flex;
flex-direction: column;
justify-content: end;
position: relative;


     @media screen and (min-width: 480px) {
width: 360px;
height: 170px;
  }
     @media screen and (min-width: 630px) {
width: 643px;
height: 307px;
  }

     @media screen and (min-width: 1200px) {
    height: 299px;
    margin-top: 0px;
    margin-left: 0px;
  }

       @media screen and (min-width: 1500px) {
        margin-left: 30px;
  }


&__position {
position: absolute;
top: 35px;
left: 40px;

     @media screen and (min-width: 480px) {
        top: 50px;
left: 30px;
  }

     @media screen and (min-width: 630px) {
        left: 80px;
        top: 110px;
  }

     @media screen and (min-width: 1200px) {
        left: 50px;
  }

     @media screen and (min-width: 1300px) {
        left: 70px;
  }
}


    &__title {
        color: #FFB82F;
font-family: "Inter";
font-size: 15px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.64px;
margin-bottom: 5px;


     @media screen and (min-width: 480px) {
      font-size: 17px;
  }
     @media screen and (min-width: 630px) {
        font-size: 28px;
        margin-bottom: 10px;
  }
     @media screen and (min-width: 768px) {
        font-size: 30px;
  }

     @media screen and (min-width: 1000px) {
        font-size: 32px;
  }
    }

    &__dscript {
        color: #D3C9BF;
font-family: "Inter";
font-size: 11px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.36px;
margin-bottom: 5px;
width: 300px;

     @media screen and (min-width: 480px) {
      font-size: 13px;
  }

     @media screen and (min-width: 630px) {
        font-size: 17px;
        width: 500px;
        margin-bottom: 10px;
  }
    }



    &__span {
        color: #FFF;
font-family: "Inter";
font-size: 15px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.64px;


     @media screen and (min-width: 480px) {
      font-size: 17px;
  }
     @media screen and (min-width: 630px) {
        font-size: 28px;
  }
     @media screen and (min-width: 768px) {
        font-size: 30px;
  }

     @media screen and (min-width: 1000px) {
        font-size: 32px;
  }
    }
    
    &__btninfo {
        border: none;
        background: none;
        position: absolute;
        left: -10px;
    }

    &__btnimg {
width: 100px;
height: 29.994px;

     @media screen and (min-width: 630px) {
                width: 159px;
height: 46px;
  }
    }

}