.strimsect {
    background: #111117;
    padding-top: 45px;
    padding-bottom: 79px;

    &__linesecond {
        position: absolute;
        top: 1695px;
    }

    &__firstgroup {
        display: flex;
        margin-bottom: 30px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

          @media screen and (min-width: 480px) {
gap: 60px;
margin-bottom: 50px;
  }

  @media screen and (min-width: 768px) {
    gap: 206px;
  }

    @media screen and (min-width: 1000px) {
    gap: 615px;
  }

          @media screen and (min-width: 1200px) {
    gap: 820px;
  }

    }

    &__title {
        color: #FFF;
font-family: "Inter";
font-size: 17px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.36px;
margin-top: 5px;
    }


    &__addbtn {
        color: #FFF;
font-family: "Inter";
font-size: 17px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.36px;
border-radius: 2.5px;
border: 1px solid #FFF;
background: #000;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 11px 35px;
transition: transform 600ms;

&:hover {
    transform: scale(1.03);
}
    }


    &__addgroup {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    gap: 30px;
  }


        @media screen and (min-width: 1200px) {
            gap: 25px;
  }

    }

    &__square {
        border-radius: 0.375px;
border: 2px solid #FFF;
background: #000;
padding: 65px 110px;

    @media screen and (min-width: 1000px) {
        padding: 55px 90px;
  }

@media screen and (min-width: 1200px) {
    padding: 69px 118px;
  }
    }

    &__plusimg {
        width: 32px;
height: 31px;
    }

}