.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1919px) {
    max-width: 1200px;
  }
  @media (max-width: 1199px) {
    max-width: 768px;
  }
  @media (max-width: 767px) {
    max-width: 480px;
  }
}
